body{
    background-color: aquamarine;
    
    text-align: center;
    
}
.header{
    background-color: chartreuse;
     
    margin-top: 0%;
    margin-bottom: 10px;
    margin-left: 1px;
    margin-right: 1px;
    padding-left: 1px;
    padding-right: 1px;
}
span{
    background-color: chartreuse;
}
.cont{
    background-color: chartreuse;
}
.f{
    height: 100px;
    width: 120px;
    
}
.f1{
    float: left;
}
.f2{
    float: center;
}
h4{
    text-align: center;
}
aside.team{
    float: right;
    text-align: justify;
    background-color: chartreuse;
    height: 140px;

}
footer{
    background-color: rgb(235, 63, 100);
    height: 100px;
}
div.footer{
    background-color: darkolivegreen;
    text-align: center;
}